/************************************************ Font ************************************************/
@font-face{
    font-family: 'Tinos-Regular';
    src:url(../Font/Tinos/Tinos-Regular.ttf) format(truetype);
    
  }
  
  @font-face{
    font-family: 'Karla';
    src:url(../Font/Karla/Karla-VariableFont_wght.ttf) format(truetype);
    
  }

  /************************************************ Header/Navigation Bar ************************************************/
nav {
    margin: 0%;
    z-index: 1000;
    position: fixed;
    }
    nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #37805A;
    position: fixed;
    top: 0;
    width: 100%;
    }
    
    nav li {
    float: left;
    }
    
    nav li a {
    display: block;
    color: #37805A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Tinos-Regular';
    font-size: 28px;
    }
    a:hover {
    background-color: #37805A;
    color: #ffffff;
    }
    a:active {
    background-color: #37805A;
    color: white;
    }
    
    .navlogo {
      width: 70px;
    }

    /************************************************ Grid ************************************************/
    
    .grid-container {
        display: grid;
        gap: 10px;
        padding: 10px;
        padding-top: 47px;
      }
      
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px;
        font-size: 30px;
      }
      * {
        box-sizing: border-box;
      }
/************************************************ Body ************************************************/
p {
    color: #37805A;
    text-align: center;
    font-size: 26px;
    font-family: 'Karla';
  }
  h1 {
    font-size: 50px;
    font-family: 'Tinos-Regular';
    color: #37805A;
    text-align: center;
  }
  h2 {
  font-size: 40px;
  font-family: 'Tinos-Regular';  
  color: #37805A;
  text-align: center;
  }

/************************************************ HOMEPAGE ************************************************/

/************************************************ Incredible Picture ************************************************/

.item1 {
grid-column: 1 / 12;
grid-row: 1;
}

.item1 > img {
    border-radius: 20px;
    margin-top: 50px;
}
    
/************************************************ Problem ************************************************/

.item2 {
grid-column: 1/4;
grid-row: 2;
}
.item2 > p {
  color: #37805A;
  text-align: left;
}

/************************************************ Solution ************************************************/

.item3 {
grid-column: 4/12;
grid-row: 2;

}
.grid-container > .item3 {
    background-color: #37805A;
    border-radius: 20px;
    
}
.item3 > p {
    color: #ffffff;
    text-align: left;
}

/************************************************ Video THE ************************************************/

.item4 {
    grid-column: 1/12;
    grid-row: 3;  
}
.item4 > video {
    border-radius: 20px;
}


/************************************************ Contact Button ************************************************/

    .item5 {
        grid-column: 1/12;
        grid-row: 4;  
    }
    .grid-container > .item5 {
        background-color: #E8CC31;
        color: #ffffff;
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 20px;
        padding-top: 0,5%;
        margin-bottom: 3%;
    }

    .item5 a:hover  {
        color: #1e4832;
        background-color: #E8CC31;
        }
    .item5 a:active  {
    background-color: #37805A;
    color: white;
    }
    
    .item5 a {
        color: #ffffff;
        text-decoration: none;
    }

/************************************************ Branding Visual Identity ************************************************/

    .item6 {
        grid-column: 1/4;
        grid-row: 5/6; 
    }
    .grid-container > .item6 > div {
        background-color: #37805A;
        border-radius: 20px;
        padding: 19px;
    }
    .item6 > div > h1, h2 {
        color: #ffffff;
    }
    .item6 > ul > li {
        text-align: left;
        color: #37805A;
        font-family: 'Karla';
    }

  .item6 > ul {
    margin-bottom: 15%;
  }

/************************************************ Project button ************************************************/

   .projectbutton {
    background-color: #E8CC31;
    color: #ffffff;
    border-radius: 20px;
    padding: 3%;
    padding-left: 17%;
    padding-right: 17%;
    margin-top: 200%;
    text-decoration: none;
}
.projectbutton a:hover  {
    color: #1e4832;
    background-color: #E8CC31;
    }
.projectbutton a:active  {
background-color: #37805A;
color: white;
}

.projectbutton a {
    color: #ffffff;
    text-decoration: none;
}

/************************************************ Square pictures ************************************************/

.hppicture1 {
    grid-column: 4/12;
    grid-row: 5; 
}

.hppicture1 > img {
    border-radius: 20px;
}

/************************************************ Branding Power ************************************************/

.branding {
    grid-column: 1/12;
    grid-row: 6;
    position: relative;
  text-align: center;
  color: white;
}

.branding > img {
    border-radius: 20px;
}

.brandingtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10%;
}
.brandingtext > h1 {
    color: #ffffff;
    padding-top: 70px;
} 
.brandingtext > h2 {
    color: #ffffff;
    margin-bottom: 20%;
} 

/************************************************ Mastering Editorial ************************************************/

.masteredition {
    grid-column: 1/4;
    grid-row: 7;
    position: relative;
  text-align: center;
  color: #37805A;
}
.brandingtext {
  padding: 40px;
}
.masteredition > .brandingtext > h1 {
    color: #37805A;
}
.mastereditionyxtright > h3 {
  text-align: left;
}

/************************************************ Mastering Editorial text ************************************************/

.mastereditionyxtright {
    grid-column: 4/12;
    grid-row: 7;
    text-align: left;
}
.mastereditionyxtright > h2, p {
    text-align: left;
    color: #37805A;
}
.mastereditionyxtright > p {
    text-align: left;
    color: #37805A;
}
/************************************************ Banner Transforming ************************************************/

.bannerreality {
    grid-column: 1/12;
    grid-row: 8;
}
.bannerreality > img {
    border-radius: 20px;
}

/************************************************ Software Coding ************************************************/

.softwarecoding {
    grid-column: 1/3;
    grid-row: 9; 
}
.softwarecoding > h2 {
    background-color: #37805A;
    border-radius: 20px;
    padding: 19px;
    margin-top: 0%;
    color: #ffffff;
}

/************************************************ Software Coding ************************************************/
.middleendpicture {
    grid-column: 3/5;
    grid-row: 9; 
}

.middleendpicture> img {
    border-radius: 20px;
}

/************************************************ Soft skills text ************************************************/
.softskillstext {
    grid-column: 5/12;
    grid-row: 9;
    margin-right: 10%;
}
.softskillstext > h2 {
    background-color: #37805A;
    border-radius: 20px;
    padding: 19px;
    margin-top: 0%;
    color: #ffffff;
}
.softskillstext > h3 {
    color: #37805A;
    text-align: center;
}
.softskillstext > p {
  color: #37805A;
  text-align: left;
}
/************************************************ Project button End Homepage ************************************************/

.oneendprojectbutton {
    grid-column: 1/12;
    grid-row: 10;
}
/************************************************ FOOTER ************************************************/
/************************************************ Footer Grid ************************************************/
.footer-container {
    display: grid;
}
/************************************************ Footer Left ************************************************/
footer {
    background-color: #37805A;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info, .footer-contact, .footer-nav {
    flex: 1;
}

.footer-logo {
    width: 80px;
    border-radius: 10px;
}

.icon {
    width: 25px;
    margin-right: 8px;
}

.footer-contact p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 20px;
}

.footer-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
}
.footer-container > p {
    color: #ffffff;
}

.footerlist {
    list-style-type: none;
    text-align: left;
}
.footer-info > p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}
.black-li-footer {
    color: black;
    font-size: 25px;
    text-align: left;
}
/************************************************ PROJECTS PAGE ************************************************/
/************************************************ MW ************************************************/
.project-logo-mw {
    grid-column: 1/12;
    grid-row: 1;
}

/************************************************ Edition ************************************************/

.edition-title {
    grid-column: 1/12;
    grid-row: 1;
}
.grid-container > .edition-title > h1 {
    background-color: #37805A;
    border-radius: 20px;
    padding: 19px;
}
.edition-title > h1 {
    color: #ffffff;
}

/************************************************ Picture Button ************************************************/

.project-pictures {
    grid-column: 1/12;
    grid-row: 2;
}
.project-contact-button {
    grid-column: 1/12;
    grid-row: 3;
}
/************************************************ ABOUT ************************************************/
/************************************************ Text ************************************************/
.aboutme-text {
    grid-column: 1/6;
    grid-row: 1;
    margin-top: 10%;
}
.aboutme-text > div {
    background-color: #37805A;
    border-radius: 20px;
    padding: 19px;
}
.aboutme-text > div > p, h1 {
    color: #ffffff;
}
/************************************************ Profile Picture ************************************************/

.placeprofilepicture {
    grid-column: 6/12;
    grid-row: 1;
    margin-top: 22%;
    z-index: -1;
  }
  .profilepicture {
    width: 55%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 7px double #E8CC31;
  }
  .about-project-button-description {
    grid-column: 1/12;
    grid-row: 2;
  }
  /************************************************ Soft Skills Text ************************************************/
.softskills-text {
    grid-column: 1/6;
    grid-row: 3;
}
.softskills-text > div {
    background-color: #37805A;
    border-radius: 20px;
    padding: 19px;
    padding-bottom: 34px;
    color: #ffffff;
}
.softskills-text > div > ul > li {
    text-align: left;
    font-family: 'Karla';
    font-size: 26px;
}
  /************************************************ Soft Skills Picture ************************************************/

.soft-skills-picture {
    grid-column: 6/12;
    grid-row: 3;
}
.soft-skills-picture > img {
    border-radius: 20px;
}
  /************************************************ Languages Text ************************************************/
  .languages-text {
    grid-column: 6/12;
    grid-row: 4;
  }
.languages-text  > div {
    background-color: #ffffff;
    border: #37805A 1px solid;
    color: #37805A;
    border-radius: 20px;
    padding: 19px;
    padding-bottom: 118px;
}
.languages-text > div > ul >li {
  text-align: left;
  font-family: 'Karla';
  font-size: 26px;
}
.languages-text > div > h2 {
    text-align: center;
    color: #37805A;
}
  /************************************************ Languages Pictures ************************************************/
  .languages-picture {
    grid-column: 1/6;
    grid-row: 4;
}
.languages-picture > img {
    border-radius: 20px;
}
/************************************************ technical Text ************************************************/
.technical-skills-text {
    grid-column: 1/6;
    grid-row: 5;
}
.technical-skills-text > div {
    background-color: #37805A;
    border-radius: 20px;
    padding: 19px;
    padding-bottom: 60px;
    color: #ffffff;
}
.technical-skills-text > div > ul > li {
    text-align: left;
    font-family: 'Karla';
    font-size: 26px;
}
  /************************************************ technical Picture ************************************************/

.technical-skills-picture {
    grid-column: 6/12;
    grid-row: 5;
}
.technical-skills-picture > img {
    border-radius: 20px;
}

  /************************************************ About Contact bBtton Picture ************************************************/

.banner-about-contact-button {
    grid-column: 1/12;
    grid-row: 6;
    position: relative;
}

.banner-about-contact-button > img {
    border-radius: 20px;
}
  /************************************************ About Contact Button on Banner ************************************************/
  .bannercontactbutton {
    background-color: #ffffff;
    color: #E8CC31;
    border-radius: 20px;
    padding: 3%;
    padding-left: 17%;
    padding-right: 17%;
    text-decoration: none;
    position: absolute;
    transform: translate(-50%, -50%);
}
.bannercontactbutton a:hover  {
    color: #1e4832;
    background-color: #E8CC31;
    }
.bannercontactbutton a:active  {
background-color: #37805A;
color: white;
}

.bannercontactbutton a {
    color: #E8CC31;
    text-decoration: none;
}

/************************************************ TIMELINE ************************************************/
.timeline > h2, p {
    color: #E8CC31;
    font-family: 'Karla';
  
  }
  .timeline {
    grid-column: 1/12;
    grid-row: 7;
    position: relative;
    max-width: 1200px;
    margin-left: 7% ;
    margin-right: 7%;
    font-family: 'Karla';
    margin-top: 10%;
    z-index: -1;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #E8CC31;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    
  }
  
  /* Container around content */
  .containertimeline {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .containertimeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(253, 251, 251);
    border: 4px solid #E8CC31;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(255, 255, 255);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #37805A;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #37805A transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .timelinecontent {
    padding: 20px 30px;
    color: white;
    background-color: #37805A;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .containertimeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .containertimeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
  .fie {
    border-radius: 5px;
    background-color: #ffffff;
  }
  /************************************************ Contact ************************************************/
  .contact-banner-grid {
    grid-column: 1/12;
    grid-row: 1;
    margin-top: 10px;
  }
  .contact-banner {
    border-radius: 20px;
  }
  .contact-text {
    grid-column: 1/12;
    grid-row: 2;
  }
  .contact-text > h1 {
    color: #37805A;
    text-align: left;
    margin-top: 0px;
  }
  .contact-email {
    grid-column: 1/4;
    grid-row: 3;
  }
  .contact-phone {
    grid-column: 4/8;
    grid-row: 3;
  }
  .contact-sm {
    grid-column: 8/12;
    grid-row: 3;
  }
 .contact-phone > h2 {
  color: white;
  background-color: #37805A;
  padding: 10px;
  border-radius: 20px;
  text-align: left;
  }
  .contact-email > h2 {
    color: white;
    background-color: #37805A;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
  }
  .contact-sm > h2 {
    color: white;
    background-color: #37805A;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
  }
  .contact-email > p {
    color: black;
    text-align: left;
  }
  .contact-phone > p {
    color: black;
    text-align: left;
  }
.contact-sm > p {
    color: black;
    text-align: left;
  }
  .socialmedia {
    color:black;
    text-decoration: none;
  }
/************************************************ Button ************************************************/

  .oneendprojectbutton-contact {
    grid-column: 1/12;
    grid-row: 4;
  }

/************************************************ Q&A ************************************************/

  .QA-title {
    grid-column: 1/12;
    grid-row: 5;
  }
  .QA-title > h1 {
    background-color: #37805A;
    color: white;
    border-radius: 20px;
    padding: 10px;
  }

  .qa-q1 {
    grid-column: 1/5;
    grid-row: 6;
    
  }
  .qa-q1-bg {
    background-color: #37805A;
    color: white;
    border-radius: 20px;
    padding: 15px;
  }
  h3 {
    color: #E8CC31;
    font-size: 30px;
  }
  .qa-q1-bg > p {
    color: #ffffff;
    font-size: 18px;
  }


  .qa-q2 {
    grid-column: 6/12;
    grid-row: 6;
  }
  .qa-q2-bg {
    background-color: #37805A;
    color: white;
    border-radius: 20px;
    padding: 15px;
  }
  .qa-q2-bg > p {
    color: #ffffff;
    font-size: 18px;
  }


  .qa-q3 {
    grid-column: 1/5;
    grid-row: 7;
  }
  .qa-q3-bg {
    background-color: #37805A;
    color: white;
    border-radius: 20px;
    padding: 15px;
  }
  .qa-q3-bg > p {
    color: #ffffff;
    font-size: 18px;
  }


  .qa-q4 {
    grid-column: 6/12;
    grid-row: 7;
  }
  .qa-q4-bg {
    background-color: #37805A;
    color: white;
    border-radius: 20px;
    padding: 15px;
  }
  .qa-q4-bg > p {
    color: #ffffff;
    font-size: 18px;
  }